@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800');

html, body, #main, [data-app-root] {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  background: #f2f2f2;
}

[data-app-root] {
  -layout: row;
}
