.Post {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-bottom: 12px;
}

.Post h3{
  text-align: center;
}

.Post p{
  text-indent: 20px;
}

.Post small{
  font-style: italic;
}
