.NavBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: white;
  box-shadow: 2px 3px 14px rgba(0,0,0,0.1);
}

.NavBar li{
  list-style-type: none;
  margin-left: 12px;
  margin-right: 4px;
  padding: 0;
}

.NavBar a{
  text-decoration: none;
  color: black;
}

.NavBar a:hover{
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  margin-left: -3px;
  margin-right: -3px;
  padding-left: 2px;
  padding-right: 2px;
}

.NavContent{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}
