.NavBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: white;
  box-shadow: 2px 3px 14px rgba(0,0,0,0.1);
}

.NavBar li{
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
}

.NavBar a{
  text-decoration: none;
  color: black;
}

.NavContent{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}
